@using WebApplication5.Models;
@model List<Kategoriler>

@{
    ViewBag.Title = "Index";
}


<h2>Kategori Tablosu</h2>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (Kategoriler k in Model)
            {

                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@k.KategoriAdi</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                               
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">

                            <div class="text-center"><a href="#" class="btn btn-info urunlistele" data-ktgId="@k.KategoriID">Listele</a></div>

                            @if (User.IsInRole("A") || (User.IsInRole("P")))
                            {

                                <div class="text-center"><a class="btn btn-info kategoriSil" data-ktgId="@k.KategoriID">Kategori Sil</a>  </div>


                            }

                          
                        </div>
                    </div>
                </div>



            }

        </div>
    </div>
</section>





@section scripts{

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script>


        $(".urunlistele").click(
            function () {
                var kid = $(this).attr("data-ktgId");
                //alert(kid);
                window.location.replace("/Kategori/UrunListele/" + kid)
            }
        );



       
    </script>

}

